@charset "utf-8";

@mixin banxin{
    width: 1200px;
    margin: auto;
    background-color: rgb(241, 187, 187);
    height: 100%;
}
@mixin container {
    width: 100vw;
}
@mixin  xuebi {
    background: url(../../img/雪碧2.png) no-repeat;
    position: absolute;
}
.container{
    @include container();
}
.banxin{
    @include banxin()
}
.xuebi{
    @include xuebi()
}

