@charset "utf-8";
@import "mixin";
@import "_effect";  
@import "header";
@import "_sousuo";
@import "_nav";
@import "_baner";
@import "_rob";
@import "xuanran";
@import "_shihui";
@import "_floor";

.container{
    @include container();
}
.banxin{
    @include banxin()
}
.xuebi{
    @include xuebi()
}
.xuebi1{
    @include xuebi1()
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  li{
      float: left;
  }
  body{
      padding: 0 ; 
  }
